labels.tsv
testing.ipynb
mlruns/**/artifacts/
mlruns/**/outputs/
mlruns/**/tags/
mlruns/**/meta.yaml
mlruns/**/inputs/
mlruns/datasets
!mlruns/0/meta.yaml

mlruns/**[!models]/metrics
mlruns/**[!models]/meta.yaml
mlruns/**/metrics/DecisionTreeClassifier_score_X_train
mlruns/**/metrics/DecisionTreeClassifier_score-2_X_test
mlruns/**/metrics/training_accuracy_score
mlruns/**/metrics/training_f1_score
mlruns/**/metrics/training_log_loss
mlruns/**/metrics/training_precision_score
mlruns/**/metrics/training_recall_score
mlruns/**/metrics/training_roc_auc
mlruns/**/metrics/training_score
mlruns/**/metrics/best_cv_score
mlruns/**/metrics/mean_fit_time
mlruns/**/metrics/mean_score_time
mlruns/**/metrics/mean_test_score
mlruns/**/metrics/std_fit_time
mlruns/**/metrics/std_score_time
mlruns/**/metrics/std_test_score
mlruns/**/metrics/rank_test_score

mlruns/0/**[!models]/params
mlruns/**/params/warm_start
mlruns/914487638670546333/**/params/

mlruns/914487638670546333/runs