labels.tsv
testing.ipynb
mlruns/**/artifacts/
mlruns/**/outputs/
mlruns/**/tags/
mlruns/**/inputs/
mlruns/**/datasets/
mllruns/**/meta.yaml

mlruns/**[!models]/metrics
mlruns/**[!models]/meta.yaml
mlruns/0/**/metrics/DecisionTreeClassifier_score_X_train
mlruns/0/**/metrics/DecisionTreeClassifier_score-2_X_test
mlruns/0/**/metrics/training_accuracy_score
mlruns/0/**/metrics/training_f1_score
mlruns/0/**/metrics/training_log_loss
mlruns/0/**/metrics/training_precision_score
mlruns/0/**/metrics/training_recall_score
mlruns/0/**/metrics/training_roc_auc
mlruns/0/**/metrics/training_score
mlruns/0/**/metrics/best_cv_score
mlruns/0/**/metrics/mean_fit_time
mlruns/0/**/metrics/mean_score_time
mlruns/0/**/metrics/mean_test_score
mlruns/0/**/metrics/std_fit_time
mlruns/0/**/metrics/std_score_time
mlruns/0/**/metrics/std_test_score
mlruns/0/**/metrics/rank_test_score

mlruns/0/**[!models]/params
mlruns/914487638670546333/**/params/
mlruns/**/runs
