labels.tsv
testing.ipynb
mlruns/**/artifacts/
mlruns/**/outputs/
mlruns/**/tags/
mlruns/**/meta.yaml
mlruns/**/inputs/
mlruns/datasets

mlruns/0/**[!models]/metrics/accuracy
mlruns/0/**[!models]/metrics/precision
mlruns/0/**[!models]/metrics/recall
mlruns/0/**[!models]/metrics/f1_score  
mlruns/0/**/metrics/DecisionTreeClassifier_score_X_train
mlruns/0/**/metrics/DecisionTreeClassifier_score-2_X_test
mlruns/0/**/metrics/training_accuracy_score
mlruns/0/**/metrics/training_f1_score
mlruns/0/**/metrics/training_log_loss
mlruns/0/**/metrics/training_precision_score
mlruns/0/**/metrics/training_recall_score
mlruns/0/**/metrics/training_roc_auc
mlruns/0/**/metrics/training_score

mlruns/0/**[!models]/params/ccp_alpha
mlruns/0/**[!models]/params/class_weight
mlruns/0/**[!models]/params/criterion
mlruns/0/**[!models]/params/max_depth
mlruns/0/**[!models]/params/max_features
mlruns/0/**[!models]/params/max_leaf_nodes
mlruns/0/**[!models]/params/min_impurity_decrease
mlruns/0/**[!models]/params/min_samples_leaf
mlruns/0/**[!models]/params/min_samples_split
mlruns/0/**[!models]/params/min_weight_fraction_leaf
mlruns/0/**[!models]/params/splitter
mlruns/0/**[!models]/params/random_state
mlruns/0/**[!models]/params/monotonic_cst

